html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}
body{
   color:  #343434;
   font-family: 'Roboto', sans-serif!important;
   font-size: 16px;
}
.site-header{
    padding: 20px 60px!important;
    border-bottom: 1px solid #EEE!important;
    background-color: #fff!important;
}
.navbar .nav-item .nav-link{
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    color: #343434;
    padding-bottom: 4px;
    font-family: 'Roboto', sans-serif!important;
}
.navbar .nav-item .nav-link.active{
    color: #FF5A60;
    font-weight: 600;
}
.navbar .nav-item .nav-link:hover{
    color: #FF5A60;
}
 .header-login-btn{
    font-size: 16px;
    line-height: 1;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #FF5A60;
    color: #fff;
    border-color: #FF5A60;
    font-family: 'Roboto', sans-serif!important;
}
#wpfront-notification-bar table td {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    padding: 8px 12px;
}
#wpfront-notification-bar table td {
    box-shadow: 0 -1px rgba(167, 101, 252, 0.2) inset;
}
.wpfront-div {
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
    color: #fff;
}
#wpfront-notification-bar a.wpfront-button {
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: none;
    text-shadow: none;
    background: #fff;
    color: #343434;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    margin-left: 5px;
}
#wpfront-notification-bar {
    background: linear-gradient(to bottom, #ff5a61 0%, #ff767b 100%);
    background-repeat: no-repeat;
}
.banner-area{
    background-image: url(../images/banner1.jpg);
    background-position: 45% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0% 0% 0% 0%;
    height:800px;
    position: relative;
}
.banner-area:after {
    content: '';
    background-image: url(../images/download.svg);
    background-repeat: no-repeat;
    bottom: -1px;
    height: 165px;
    display: block;
    background-size: 103% auto;
    position: absolute;
    width: 100%;
    background-position: bottom center;
    margin: 0;
    padding: 0;
}
/* .banner-area:after {
    content: '';
    background-image: url(../images/heart-768x692.png);
    background-repeat: no-repeat;
    top:60px;
    height: 400px;
    width: 400px;
    left: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
} */
.background-over{
    /* background-color: #050000; */
    /* opacity: 0.3; */
    z-index: 9;
    width: 100%;
    height: 800px;
    padding: 190px 60px;
    
}
/* .background-over .heart{
    position: absolute;
    top:60px;
    left:0px;
    z-index: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
} */
.background-over .banner-heading-title{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1.4px;
    z-index: 9;
    opacity: 1;
}
.background-over .banner-heading-title-large{
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 55px;
    z-index: 9;
}
.background-over p{
    color: #fff;
    z-index: 9;
    width: 35%;
    line-height: 1.4;
    font-size: 16px;
}
select{
    background-color: #fff;
    border: 1px soild #ccc!important;
    color: #888;
    height: 45px;
    width: 258px;
}
select:focus{
    background-color: #fff;
    box-shadow: none!important;
    border: 1px soild #ccc!important;
    color: #888;
}
select::placeholder{
    color: #ccc!important;
}
p {
    margin: 0 0 40px;
    font-family: 'Lato', sans-serif!important;
    
}
a{
    text-decoration: none;
}
.welcome-heading-title{
    color: #FF5A60;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    line-height: 1;
}
.welcome-heading-title-large{
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 42px;
    line-height: 1;
    color: #343434;
}
.welcome-login-btn{
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #FF5A60;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FF5A60;
    border-radius: 5px 5px 5px 5px;
    padding: 18px 45px 18px 45px;
}
.welcome-explore-btn:hover{
    border-width: 1px 1px 1px 1px;
    border-color: #FF5A60;
    color: #FF5A60;
}
.welcome-login-btn:hover{
    border-width: 1px 1px 1px 1px;
    border-color: #FF5A60;
    color: #FF5A60;
    background-color: transparent;
}
.welcome-explore-btn{
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    fill: #343434;
    color: #343434;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D5D5D5;
    border-radius: 5px 5px 5px 5px;
    padding: 18px 45px 18px 45px;
}
.blog{
    background-color: #FF5A60;
    background-image: url(../images/heart-pattern-bg-1.png);
    /* height: 900px; */
}
.zoom-hover {
    overflow: hidden;
    /* height: 285px; */
    margin-top: 20px;
}
.zoom-hover img:hover {
    transform: scale(1.2);
}
.zoom-hover img {
    transition: transform 1.4s;
    width: 100%;
}
.post-title a {
    margin: 0 0 15px;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
}
.date-wrap {
    color: rgba(255, 255, 255, .75);
}
.date-wrap i{
    margin-right: 10px;
}
.blog .welcome-blog-btn{
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #fff;
    border-radius: 5px 5px 5px 5px;
    padding: 18px 45px 18px 45px;
}
.welcome-blog-btn:hover{
    border-width: 1px 1px 1px 1px;
    border-color: #FF5A60;
    color: #FF5A60;
    background-color: #fff;
}
p{
    text-align: justify;
}
footer.site-footer {
    background-color: #FF5A60;
    background-image: url(../../../../../../themes/wpdating-matrimony/images/bg-footer-img.png);
    background-repeat: no-repeat;
    background-position: bottom 25px center;
    background-size: contain;
    color: rgba(255, 255, 255, .75);
    padding-top: 255px;
    position: relative;
}
footer.site-footer:before {
    content: '';
    width: 100%;
    height: 170px;
    display: block;
    background-repeat: no-repeat;
    top: -1px;
    position: absolute;
    background-image: url(../images/download1.svg);
    background-position: top center;
    background-size: 100% auto;
}
footer .footer-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 30px;
    color: #fff;
}
footer.site-footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer.site-footer ul li a{
    color: rgba(255, 255, 255, .75);
}
footer.site-footer ul li {
    color: rgba(255, 255, 255, .75);
    margin-bottom: 20px;
}
footer .detials-wrap li i {
    margin-top: 4px;
    margin-right: 10px;
}
footer.site-footer a i, footer.site-footer ul li a i, footer.site-footer i {
    color: rgba(255, 255, 255, 1);
}
.social-links li:not(:last-child) {
    margin-right: 15px;
}
footer.site-footer ul.social-links li a {
    border-color: #DEDEDE;
}
footer.site-footer a, footer.site-footer ul li a {
    color: rgba(255, 255, 255, .75);
}
.social-links>li>a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #9D9D9D;
    padding: 8px 12px;
}
.social-links>li>a:hover {
    background-color: #fff;
    color: #FF5A60;
}
.footer-head{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}
footer .copyright-wrap {
    border-top: 1px solid rgba(255, 255, 255, .16);
    padding: 25px 0;
}
input{
    border:1px solid#ccc;
    background-color: #fff;
}
input:focus{
    border:1px solid#ccc!important;
    background-color: #fff!important;
    box-shadow: none!important;
}
.elementor-icon {
    background-color: #FFFFFF;
    fill: #FF5A60;
    color: #FF5A60;
    font-size: 40px;
    padding: 30px 40px;
    box-shadow: 0 3px 25px 0 rgb(0 0 0 / 10%);
    border-radius: 50%;
}
.arrow{
    position: absolute;
    top: 70px;
    left: 280px;
}
.arrow1{
    position: absolute;
    top: 105px;
    right: 280px;
}
